---
import ThemeIcon from "@/components/ThemeIcon.astro";
import { Icon } from "astro-icon/components";
---

<header>
  <nav>
    <a href="/"><Icon name="logo" width={64} height={64} /></a>
    <ThemeIcon />
  </nav>
</header>

<style>
  header {
    grid-area: header;

    > nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      margin: auto;
    }
  }
</style>
