---
import { Icon } from "astro-icon/components";
---

<div id="content">
  <nav>
    <ul>
      <li>
        <a href="https://github.com/npg418"><Icon name="mdi:github" /></a>
        <li></li>
        <li></li>
      </li>
    </ul>
  </nav>

  <style>
    #content > h2 {
      text-align: center;
    }
  </style>
</div>
