---
import NPG418 from "@/assets/NPG418.webp";
import Image from "astro/components/Image.astro";
---

<div id="hero">
  <h1><span>NPG418</span><span>is</span><span>here.</span></h1>
  <Image src={NPG418} alt="NPG418 Icon" width={400} height={400} />
</div>

<style>
  #hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  #hero > h1 {
    display: flex;
    flex-direction: column;

    margin: 0;

    font-size: 8rem;

    :nth-child(2) {
      color: var(--primary);
    }
  }
</style>
