<div id="hero">
  <h1><span>NPG418</span><span>is</span><span>here</span></h1>
</div>

<style>
  #hero {
    
  }

  #hero > h1 {
    display: flex;
    flex-direction: column;

    margin: 0;

    font-size: 8rem;

    :nth-child(2) {
      color: var(--primary);
    }
  }
</style>
